{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "SIGN IN" %}{% endblock %}

{% block inner %}

<section>
    <h1 class="text-2xl font-bold text-center">{% trans "SIGN IN" %}</h1>
    <p class="text-gray-700 mt-3">
        Use your username and password to sign in to CARE.
    </p>
    <div class="mt-8">
        <form class="login" method="POST" action="">
            {% csrf_token %}
            {{ form | crispy }}
          <button class="mt-4 btn btn-primary w-full" type="submit">{% trans "SIGN IN" %} &raquo;</button>
        </form>
    </div>
</section>

{% endblock %}
