{% load static i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}Care{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

  <link rel="icon" href="{% static 'images/favicons/favicon.png' %}">

  {% block css %}

  <!-- Latest compiled and minified Bootstrap CSS -->
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <link href="https://unpkg.com/@tailwindcss/custom-forms@0.2.1/dist/custom-forms.min.css" rel="stylesheet">


  <!-- Your stuff: Third-party CSS libraries go here -->

  <!-- This file stores project-specific CSS -->

  <link href="{% static 'css/project.css' %}" rel="stylesheet">
  <link href="{% static 'css/custom.min.css' %}" rel="stylesheet">


  {% endblock %}

</head>


<body class="bg-gray-100 leading-normal tracking-normal font-sans text-gray-900 flex flex-col min-h-screen">
  <nav x-data="{open: true}" class="bg-white shadow" role="navigation">
    <div class="container mx-auto p-4 flex flex-wrap items-center md:flex-no-wrap">
      <div class="mr-4 md:mr-8">
        <a class="navbar-brand" href="{% url 'home' %}">
          <img class="block w-24 h-auto" src="{% static 'images/logos/black-logo.svg' %}" alt="" />
        </a>
      </div>
      <div class="ml-auto md:hidden">
        <button @click="open = !open" class="flex items-center px-3 py-2 border rounded" type="button">
          <svg class="h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <title>Menu</title>
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
          </svg>
        </button>
      </div>
      <div :class="{'hidden': open}" class="w-full md:w-auto md:flex-grow md:flex md:items-center">
        <ul
          class="flex flex-col mt-4 -mx-4 pt-4 border-t md:flex-row md:items-center md:mx-0 md:mt-0 md:pt-0 md:mr-4 lg:mr-8 md:border-0">
          <li>
            <a class="block px-4 py-1 md:p-2 lg:px-4" href="{% url 'home' %}" title="Link">Home</a>
          </li>
          <!--<li>
                        <a class="block px-4 py-1 md:p-2 lg:px-4" href="{% url 'ksdma' %}" title="Link">KSDMA</a>
                    </li>-->

          {% if request.user.is_authenticated and request.user.user_type == settings.STAFF_ACCOUNT_TYPE %}
          <!-- <li class="nav-item">
            {# URL provided by django-allauth/account/urls.py #}
            <a class="nav-link" href="">{% trans "My Profile" %}</a>
          </li> -->
          <li>
            <a class="block px-4 py-1 md:p-2 lg:px-4"
              href="{% url 'facility:facility-create' %}">{% trans "Add Hospital" %}</a>
          </li>
          <li>
            <a class="block px-4 py-1 md:p-2 lg:px-4"
              href="{% url 'facility:facilities-view' %}">{% trans "View Hospitals" %}</a>
          </li>
          {% endif %}
        </ul>
        <ul
          class="flex flex-col mt-4 -mx-4 pt-4 border-t md:flex-row md:items-center md:mx-0 md:ml-auto md:mt-0 md:pt-0 md:border-0">

          {% if request.user.is_authenticated %}
          <li>
            {# URL provided by django-allauth/account/urls.py #}
            <a class="block px-4 py-1 md:p-2 lg:px-4" href="{% url 'users:logout' %}">{% trans "Sign Out" %}</a>
          </li>
          {% else %}
          <!--<li>
                        {# URL provided by django-allauth/account/urls.py #}
                        <a class="block px-4 py-1 md:p-2 lg:px-4" href="">{% trans "Sign Up" %}</a>
                    </li> -->
          <li>
            {# URL provided by django-allauth/account/urls.py #}
            <a class="block px-4 py-1 md:p-2 lg:px-4" href="{% url 'users:signin' %}">{% trans "Sign In" %}</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>

  </nav>

  <div class="px-6 py-4 md:px-14 md:py-10 mx-auto">

    {% if messages %}
    {% for message in messages %}
    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}<button type="button"
        class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    {% endfor %}
    {% endif %}

    {% block content %}

    {% endblock content %}
  </div> <!-- /container -->

  {% block modal %}{% endblock modal %}

  <!-- Le javascript

    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  {% block javascript %}

  <!-- Your stuff: Third-party javascript libraries go here -->
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" defer></script>


  <!-- place project specific Javascript in this file -->

  <script src="{% static 'js/project.js' %}"></script>


  {% endblock javascript %}
  <script src='https://www.google.com/recaptcha/api.js'></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-160173841-21"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-160173841-21');

  </script>

  <footer class="mt-auto p-0">
    <div class="container-fluid bg-white m-0">
      <p class="py-4 px-6 mt-4 m-0 text-center col-span-8 mx-auto lg:w-8/12 sm:w-full">
        <img class="object-contain h-24 w-full py-2" src="{% static 'images/logos/ksdma_logo.png' %}" alt="" />
        <a href="https://coronasafe.network/">CoronaSafe Network is an open-source public utility designed by
          a multi-disciplinary team of innovators and volunteers who are working on a model to support
          Government efforts with full understanding and support of Government of
          Kerala.</a>&nbsp;<a href="https://github.com/coronasafe" class="care-secondary-color">(Github)</a>
      </p>
    </div>
  </footer>

</body>

</html>
