global
    daemon
    maxconn 4096

resolvers docker
    nameserver care-dns 127.0.0.11:53
    resolve_retries 3
    timeout resolve 5s
    timeout retry   10s

defaults
    mode tcp
    timeout connect 10s
    timeout client 60s
    timeout server 60s

# Write operations (master only)
listen postgres_write
    bind *:5432
    balance first
    option tcp-check
    tcp-check connect
    default-server inter 15s fall 3 rise 2 on-marked-down shutdown-sessions resolvers docker

    # Connect to the master
    server master db-master:5432 maxconn 100 check port 5432

# Read operations (slaves)
listen postgres_read
    bind *:5433
    balance roundrobin
    option tcp-check
    tcp-check connect
    default-server inter 15s fall 3 rise 2 on-marked-down shutdown-sessions resolvers docker

    # Connect to the slaves
    server slave1 db-slave1:5432 maxconn 100 check port 5432
    server slave2 db-slave2:5432 maxconn 100 check port 5432
