[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://github.com/ohcnetwork/python-magic-bin/releases/expanded_assets/v0.1"
verify_ssl = true
name = "python-magic-bin"

[packages]
argon2-cffi = "==25.1.0"
authlib = "==1.6.5"
boto3 = "==1.42.6"
celery = "==5.6.0"
django = "==6.0"
django-anymail = {extras = ["amazon-ses"], version = "*"}
django-environ = "==0.12.0"
django-cors-headers = "==4.9.0"
django-filter = "==25.2"
django-maintenance-mode = "==0.22.0"
django-ratelimit = "==4.1.0"
django-redis = "==6.0.0"
djangoql = "==0.18.1"
djangorestframework = "==3.16.1"
djangorestframework-simplejwt = "==5.5.1"
dry-rest-permissions = "==0.1.10"
drf-nested-routers = "==0.95.0"
drf-spectacular = "==0.29.0"
gunicorn = "==23.0.0"
healthy-django = "==0.1.0"
jinja2 = "==3.1.6"
json-fingerprint = "==0.14.1"
jsonschema = "==4.25.1"
pillow = "==12.0.0"
psycopg = { extras = ["c"], version = "==3.3.1" }
pydantic = "==2.12.5"
pyjwt = "==2.12.0"
pyotp = "==2.9.0"
python-slugify = "==8.0.4"
pywebpush = "==2.1.2"
redis = { extras = ["hiredis"], version = "==7.1.0" }
requests = "==2.32.5"
simplejson = "==3.20.2"
sentry-sdk = "==2.47.0"
whitenoise = "==6.11.0"
pydantic-extra-types = "==2.10.6"
phonenumberslite = "==9.0.19"
python-magic = {version = "==0.4.28", index = "python-magic-bin"}
django-import-export = "==4.3.14"
evalidate = "==2.1.1"
weasyprint = "==68.0"
pip = "==25.3"

[dev-packages]
boto3-stubs = { extras = ["s3", "boto3"], version = "*" }
coverage = "==7.13.0"
debugpy = "==1.8.17"
django-coverage-plugin = "==3.2.0"
django-extensions = "==4.1"
django-silk = "==5.4.3"
djangorestframework-stubs = "==3.16.6"
freezegun = "==1.5.5"
ipython = "==9.8.0"
mypy = "==1.19.0"
pre-commit = "==4.5.0"
tblib = "==3.2.2"
watchdog = "==6.0.0"
werkzeug = "==3.1.4"
ruff = "==0.14.8"
model-bakery = "==1.20.5"
Faker = "==38.2.0"

[docs]
sphinx = "==8.2.3"
furo = "==2025.9.25"
myst-parser = "==4.0.1"

[requires]
python_version = "3.13"
