<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Reset Password Email</title>
  </head>
  <body>
    <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body">
      <tr>
        <td>&nbsp;</td>
        <td class="container">
          <div class="content">
    Hi,<br>
Greetings from Open Healthcare Network,
Please click the following link to reset your password for your account with username {{username}}<br>
 <a href="{{reset_password_url}}" > Click Here</a>
 or copy paste the following link on your address bar
 {{reset_password_url}}
 ** This link will expire in 24 Hours
</div>
        </td>
        <td>&nbsp;</td>
      </tr>
    </table>
  </body>
</html>
