{% extends "base.html" %}

{% block content %}
<section class="max-w-lg">
  <h1 class="text-3xl font-bold lg:text-center"> Welcome to CARE </h1>
    <p class="text-lg mt-1 text-gray-700"> CARE is a single point to link Hospitals, Corona Care Centers and Volunteers to the unified <a href="https://coronasafe.network" class="text-gray-900 font-semibold">Corona Safe Network</a> so that the Kerala Chief Minister's Office has direct access to live reports of health data v/s our total healthcare
        capacity.</p>
</section>
{% endblock content %}
