{% extends "base.html" %}
{% load static i18n %}

{% block content %}


<section class="mt-4 max-w-lg ">
  <h1 class="text-3xl font-bold text-center"> Corona Safe Network </h1>
    {% if request.user.is_authenticated %}
    <p class="text-lg mt-1 text-gray-700 text-justify ">You  have successfully logged in to the corona care network.
    <br><br>
    The next step is to register your Hospital into the corona care network and enter details about total capacity of regular beds, ICU beds, and ventilators.
    <br><br>
    Once you connect your hospital to the corona care network, You will be able to view hospital details using the view hospital button.</p>
      {% if request.user.user_type == settings.STAFF_ACCOUNT_TYPE %}
      <div class="mt-4 flex flex-col">
        <div class="flex flex-col">
          <a id="sign-up-link" class="py-6 mt-4 bg-white rounded-md shadow border border-grey-500 inline-flex items-center justify-center whitespace-no-wrap text-sm font-semibold rounded cursor-pointer hover:bg-gray-300 h4" href="{% url 'facility:facility-create' %}">{% trans "Add Hospital" %}</a>
        </div>
        <div class="flex flex-col">
          <a id="sign-up-link" class="py-6 mt-4 bg-white rounded-md shadow border border-grey-500 inline-flex items-center justify-center whitespace-no-wrap text-sm font-semibold rounded cursor-pointer hover:bg-gray-300 h4" href="{% url 'facility:facilities-view' %}">{% trans "View Hospitals" %}</a>
        </div>
      </div>
      {% endif %}

    {% else %}
      <p class="text-lg mt-1 text-gray-700 text-justify "> Our Goal is to defend the Healthcare system of Kerala from overloading beyond capacity.
      </p>

    <div>
      <div class="mt-4 flex flex-col">
        <!--<div class="flex flex-col">
          <a id="sign-up-link" class="py-6 mt-4 bg-white rounded-md shadow border border-grey-500 inline-flex items-center justify-center whitespace-no-wrap text-sm font-semibold rounded cursor-pointer hover:bg-gray-300 h4" href="{% url 'users:signup-volunteer' %}">{% trans "Volunteer Sign Up" %}</a>
        </div>
        <div class="flex flex-col">
          <a id="sign-up-link" class="py-6 mt-4 bg-white rounded-md shadow border border-grey-500 inline-flex items-center justify-center whitespace-no-wrap text-sm font-semibold rounded cursor-pointer hover:bg-gray-300 h4" href="{% url 'users:signup-doctor' %}">{% trans "Doctor Sign Up" %}</a>
        </div>-->
      <div class="flex flex-col">
        <a id="sign-up-link" class="py-6 mt-4 bg-white rounded-md shadow border border-grey-500 inline-flex items-center justify-center whitespace-no-wrap text-sm font-semibold rounded cursor-pointer hover:bg-gray-300 h4" href="{% url 'ksdma' %}">{% trans "KSDMA: Hospital Registration" %}</a>
        </div>
      <div class="flex flex-col">
        <a id="sign-up-link" class="py-6 mt-4 bg-white rounded-md shadow border border-grey-500 inline-flex items-center justify-center whitespace-no-wrap text-sm font-semibold rounded cursor-pointer hover:bg-gray-300 h4" href="https://alpha.care.coronasafe.network/ambulance">{% trans "Register An Ambulance" %}</a>
        </div>
      <div class="flex flex-col">
        <a id="sign-up-link" class="py-6 mt-4 bg-white rounded-md shadow border border-grey-500 inline-flex items-center justify-center whitespace-no-wrap text-sm font-semibold rounded cursor-pointer hover:bg-gray-300 h4" href="{% url 'users:signin' %}">{% trans "Login to Corona Safe Network" %}</a>
        </div>
      </div
    </div>
    {% endif %}

</section>

{% endblock content %}
