name: Test

on:
  workflow_call:

jobs:
  test:
    strategy:
      matrix:
        platform:
          - linux/amd64
          - linux/arm64
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Cache Docker layers
        uses: actions/cache@v3
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ hashFiles('Pipfile.lock', 'docker/dev.Dockerfile') }}
          restore-keys: |
            ${{ runner.os }}-buildx-

      - name: Bake docker images
        uses: docker/bake-action@v4
        with:
          load: true
          set: |
              *.platform=${{ matrix.platform }}
              *.cache-from=type=local,src=/tmp/.buildx-cache
              *.cache-to=type=local,dest=/tmp/.buildx-cache-new
          files: docker-compose.yaml,docker-compose.local.yaml

      - name: Start services
        run: docker compose -f docker-compose.yaml -f docker-compose.local.yaml up -d --wait --no-build

      - name: Check migrations
        run: make checkmigration

      - name: Run tests
        run: make test-coverage

      - name: Upload coverage report
        uses: codecov/codecov-action@v3

      - name: Move cache
        run: |
          rm -rf /tmp/.buildx-cache
          mv /tmp/.buildx-cache-new /tmp/.buildx-cache
