{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}

<h1>{{ user.username }}</h1>
<form class="form-horizontal" method="post" action="">
  {% csrf_token %}
  {% if duplicate %}
  Please Enter a Room Type that is not entered already
  {% endif %}
  {{ form|crispy }}
  <div class="control-group">
    <div class="controls">
      <button type="submit" name="addmore" class="btn btn-primary">Save and Add More Rooms</button>
      <button type="submit" class="btn btn-primary">Save and Complete</button>
      <!-- <button type="submit" class="btn btn-danger">cancel</button> -->

    </div>
  </div>
</form>
{% endblock %}
