{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{facility.name}}{% endblock %}

{% block content %}
<h1>{{ user.username }}</h1>
<form class="form-horizontal" method="post" action="">
  {% if duplicate %}
  Please Enter a Room Type that is not entered already
  {% endif %}
  {% csrf_token %}
  {{ form|crispy }}
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-primary">UPDATE</button>
      <a class="btn btn-primary" href="{% url 'facility:facility-view' pk=facility.id %}">Cancel</a>
    </div>
  </div>
</form>
{% endblock %}
