{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}


{% block title %}Add Rooms{% endblock %}

{% block content %}

<h1 class="text-2xl font-bold text-center">{% trans "Enter Your Hospital's Capacity" %}</h1>
<p class="max-w-lg text-lg mt-3 text-gray-700 text-justify">The Chief Ministers's office request to know imformation about  total capacity and current Utlisation of Normal Beds, ICU Beds and Ventilators in your Hospital.
<br>
1. Normal Beds<br>
2. ICU Beds<br>
3. Ventilators</p>
<form class="form-horizontal" method="post" action="">
  {% csrf_token %}
  {% if duplicate %}
  Please Enter a Room Type that is not entered already
  {% endif %}
  {{ form|crispy }}
  <div class="control-group">
    <div class="mt-4 controls flex justify-between">
      <button type="submit" name="addmore" class="btn btn-primary">Save & Add More Bed Types</button>
      <button type="submit" class="btn btn-primary">Save & Complete</button>
      <a class="btn btn-primary" href="{% url 'facility:facility-doctor-count-create' pk=facility.id %}">Cancel</a>
    </div>
  </div>
</form>
{% endblock %}
